body{
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(206, 206, 206, 0.808), rgb(66, 99, 143));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mainbox{
   
    
    height: 45vh;
    width: 50vw;
    /* background-color: rgb(127, 164, 199); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgba(206, 206, 206, 0.808), rgb(106, 152, 212));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    
    
}
.second_box {
    background-color: rgb(37, 112, 141);
    height: 45vh;
    width: 22vw;
    background-image: url("C:\Users\ashvi\OneDrive\Documents\ktxp\ticket exchanger(ktxp)\src\assets\WhatsApp Image 2024-07-13 at 00.18.19_b517190d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.input1,.input2{
    position: absolute;
    top : 35%;
    left : 60%;
    border: transparent;
    border-radius: 6px;
    width :12vw;
    height: 3vh;

}

.login{
    position: absolute;
    background-color: rgb(1, 121, 151);
    top : 65%;
    left : 65%;
    width: 6vw;
    height: 3vh;
    border: transparent;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    font-size:16px;
    color: beige;
}
.login:hover{
    transform: scale(1.1);
    transition-duration: 7500;
    box-shadow: 0 5px 8px rgba(50, 190, 255, 0.2); /* Add box shadow */
}
.login:active{
    transform: scale(1.0);
}

.welcome{
    position: absolute;
    top : 15%;
    left : 65%;
    color :rgb(224, 224, 224);
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}